<h2 class="text-2xl font-bold mb-4">Create Comment</h2>

{{#if errorMessage}}
  <p class="error text-red-500">{{errorMessage}}</p>
{{/if}}
<form action="/comments/create/{{postId}}" method="POST">
  <div class="mb-4">
    <label for="title" class="block font-bold">Title:</label>
    <input type="text" id="title" name="title" required class="border-2 border-gray-300 p-2 rounded-lg w-full focus:outline-none focus:border-blue-500" >
  </div>
  <div class="mb-4">
    <label for="body" class="block font-bold">Body:</label>
    <textarea id="body" name="body" required class="border-2 border-gray-300 p-2 rounded-lg w-full focus:outline-none focus:border-blue-500"></textarea>
  </div>
  <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Submit</button>
</form>